
.card img{
    width: 200px;

}

.col{

    height: 460px;
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col img{
    width: 800px;
    border-radius: 0.85em;
}


.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-left: 450px;
}


@media screen and(max-width: 800px){
    .container{
        width: 97%;
    }
    .row{
        display: block;
    }
    .col{
        width: 75%;
    }

    nav ul{
        display: block;}
    
    }

    * {
        margin: 0;
        padding: 0
    }
    

    
    .image img {
        transition: all 0.5s
    }
    
    .card:hover .image img {
        transform: scale(1.5)
    }
    
    .name {
        font-size: 22px;
        font-weight: bold
    }
    
    .idd {
        font-size: 14px;
        font-weight: 600
    }
    
    .idd1 {
        font-size: 12px
    }
    
    .number {
        font-size: 22px;
        font-weight: bold
    }
    
    .follow {
        font-size: 12px;
        font-weight: 500;
        color: #444444
    }
    
    
    .text span {
        font-size: 13px;
        color: #545454;
        font-weight: 500
    }
    
    .icons i {
        font-size: 19px
    }
    
    hr .new1 {
        border: 1px solid
    }
    
    .join {
        font-size: 14px;
        color: #a0a0a0;
        font-weight: bold
    }
    
    .date {
        background-color: #ccc
    }